<!DOCTYPE html>
<html>
<head>
<title>Добавление</title>
<meta charset="utf-8" />
</head>
<body>
<h3>Добавление пользователя</h3>
<form method='GET'>
    <p>Имя:
    <input type="text" name="name_create" size="15" required></p>
    <p>Почта:
    <input type="text" name="email_create" size="10" required></p>
    <p>Телефон:
    <input type="text" name="phone_create" size="10" required></p>
    <p>Город:
    <input type="text" name="city_create" size="10" required></p>
    <p>Возраст:
    <input type="text" name="age_create" size="10" required></p>
    <p>Профессия:
    <input type="text" name="profession_create" size="10" required></p>
    <button type="submit" name="save">Сохранить</button>
</form>
    

</body>
</html>
