{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h1>{% block title %} Users {% endblock %}</h1>
        </div>
        <div class="card-text">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Login</th>
                        <th scope="col">Password</th>
                        <th scope="col">Date added</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="col">{{ user[0] }}</th>
                        <th scope="col"><a href="{{ url_for('edit', id=user[0]) }}" class="link-info">{{ user[1] }}</a></th>
                        <th scope="col">{{ user[2] }}</th>
                        <th scope="col">{{ user[3] }}</th>
                        <th scope="col">
                            <div class="d-flex flex-row justify-content-center">
                                <form action="{{ url_for('delete', user_id=user[0]) }}" method="post">
                                    <button class="btn btn-danger btn-sm my-2 btn-block" type="submit"">Delete</button>
                                </form>
                            </div>
                        </th>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}