{% extends 'base.html' %}

{% block content %}
    <div class="card w-50 m-auto">
        <div class="card-body">
            <div class="card-title text-center">
                <h2 class="text-info">User info</h2>
            </div> 
            <div class="card-text">
                <p><span class="font-weight-bold">Login: </span>{% block title %} {{ user[1] }} {% endblock %}</p>
                <p><span class="font-weight-bold">Password: </span>{{ user[2] }}</p>
            </div>
            <div class="card-text">
                <span class="text-muted">Created in: {{ user[3] }}</span>
            </div>
        </div>
    </div>
{% endblock %}