[Unit]
Description=uWSGI instance to nginx site
After=network.target

[Service]
User=ksenia
Group=www-data
WorkingDirectory=/var/www/lamp/project/comparison
Environment="PATH=/var/www/lamp/project/comparison/env/bin"
ExecStart=/var/www/lamp/project/comparison/env/bin/uwsgi --ini nginx_project_comparison.ini

[Install]
WantedBy=multi-user.target
