<!DOCTYPE html>
<html>
<head>
<title>Добавление</title>
<meta charset="utf-8" />
</head>
<body>
<h3>Добавление пользователя</h3>
<form method='GET'>
    <p>Имя:</p>
    <input type="text" name="name_create" size="15" required>
    <p>Почта:</p>
    <input type="text" name="email_create" size="15" required>
    <p>Телефон:</p>
    <input type="text" name="phone_create" size="15" required>
    <p>Город:</p>
    <input type="text" name="city_create" size="15" required>
    <p>Возраст:</p>
    <input type="text" name="age_create" size="15" required>
    <p>Профессия:</p>
    <input type="text" name="profession_create" size="15" align="right" required>
    <p><button type="submit" name="save">Сохранить</button></p>
</form>
    

</body>
</html>
