<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Users</title>
</head>
<body>
    <form method="GET" >
		login : <input type="text" name="login_add" size="15" required>
		name: <input type="text" name="name_add" size="10" required>
		<button type="submit" name="add">add new user</button>
	</form>
    <br>
    <table cellpadding="5" border="1">
		<tr>
			<th>id</th>
			<th>login</th>
			<th>name</th>
		</tr>
    {% for row in users %}
    <tr>
        <form method='GET'>
		    <td> <input type='hidden' name="id" value='{{ row[0] }}'> {{ row[0] }} </th>
		    <td> <input type='text' name="login_edit" value='{{ row[1] }}' required></td>
	    	<td> <input type='text' name="name_edit" value='{{ row[2] }}' required></td>
	    	<td> <button type="submit" name="edit">edit</button></td>
			<td> <button> <a href=http://127.0.0.1:8083/?id={{ row [0] }}> delete </a> </button></td>
	    </form>
    </tr>
    {% endfor %}
</table>

<form method="GET" novalidate >
	<input type='hidden' name='page' value='{{page}}'>

	{% if check_prev == True %}
		<button type="submit" name="back">back</button>
	{% else %}
		<button disabled type="submit" name="back">back</button>
	{% endif %}
	{% if check_next == True %}
		<button type="submit" name="next">next</button>
	{% else %}
		<button disabled type="submit" name="next">next</button>
	{% endif %}
</form>

</body>
</html>